{
    "host": "localhost",
    "port": 10000,
    "ident": "hpfeeds-output",
    "secret": "",
    "channels": [],
    "debug": "false",
    "filelog": {
        "filelog_enabled": true,
        "log_file": "mhn-splunk-log.out",
        "rotation_strategy": "size",
        "rotation_size_max": "100",
        "rotation_time_max": "24",
        "rotation_time_unit": "h",
        "rotation_backups": "3"
    },
    "syslog": {
        "syslog_enabled": false,
        "syslog_host": "localhost",
        "syslog_port": 514,
        "syslog_facility": "user"
    },
    "cif": {
        "cif_enabled": false,
        "cif_host": "http://cifv3",
        "cif_token": "token",
        "cif_provider": "provider",
        "cif_tlp": "amber",
        "cif_confidence": 8,
        "cif_tags": "tags",
        "cif_group": "group",
        "cif_ignore_cidr": "192.168.0.0/16,10.0.0.0/8,172.16.0.0/12",
        "cif_verify_ssl": false
    },
    "bhr": {
        "bhr_enabled": false,
        "bhr_host": "http://bhr",
        "bhr_token": "token",
        "bhr_source": "chn",
        "bhr_reason": "honeypot block",
        "bhr_duration": 3600,
        "bhr_ignore_cidr": "192.168.0.0/16,10.0.0.0/8,172.16.0.0/12",
        "bhr_verify_ssl": false
    },
    "formatter_name": "splunk"
}
